body {
	background-color: #white;
	font-family: 'EB Garamond', serif;
	/*color: white;*/
}

.squares {
	margin: 100px 100px auto 100px;
	align-content: 


}

.squares div {
  width: 10vh;
  height: 10vh;
  margin: 1%;
  border-radius: 5px;
  border: 1px solid black;


}

.square {
	display: inline-flex;


}

#displayCards div{
  width: 10vh;
  height: 10vh;
  border-radius: 5px;
  border: 1px solid black;
  display: inline-flex;	
  margin-right: 1%;
}

.cards {
	text-align: center;
}

#players2Form {
	float: right;
}

#printPlayer2Name{
	float: right;
}

input {
	border: 2px solid black	;
	height: 37px;
	width: 300px;
	border-radius: 10px;
	font-size: 2em;
}

label {
	font-size: 1.5em;
	margin-right: 10px;
	padding: 10px;

}



