body {
	font-family: 'EB Garamond', serif;
	text-align: center;
	background-image: url("https://thumbs.dreamstime.com/b/wood-background-wallpaper-hd-123273980.jpg	")

}

h1 {
	font-size: 3em;
	color: #F0ECEA;;
}

.squares {
	width: 50%;
	justify-content: center;
	align-items: center;
	display: inline-block;
	display: inline-block;
	margin-top: 100px;


}

.squares div {
  width: 10vh;
  height: 10vh;
  margin: 1%;
  border-radius: 5px;
  border: 1px solid black;


}

.square {
	display: inline-block;
	vertical-align: top;
	justify-content: center;
	align-items: center;

}

#displayCards div{
  width: 10vh;
  height: 10vh;
  border-radius: 5px;
  border: 1px solid black;
  display: inline-flex;	
}



.animate{
  width: 3vh;
  height: 3vh;
  border-radius: 50%;
  border: 2px solid black;
}

#StartBox{
	margin-left: 200px;
}

#StartBox2{
	margin-left: 200px;
}

.player1div{
	color: #F0ECEA;
	margin-top: 100px;
	width: 25%;
	float: left;
}

.player2div{
	color: #F0ECEA;
	margin-top: 100px;
	width: 25%;
	float: right;

}

/*.player1Icon {
	border: 5px grey;
	height: 100px;
	width: 200px;
}

.player2Icon {
	border: 5px grey;
	height: 200px;
	width: 200px;
	background-color: yellow;
}*/


input {
	margin-top: 50px;
	border: 2px solid white;
	height: 37px;
	width: 200px;
	border-radius: 10px;
	font-size: 2em;
}

label {
	font-size: 3em;
	margin-right: 10px;
	padding: 10px;

}

.letsPlay{
	margin-top: 30px;
	font-size: 15px;
	height: 30px;
	width: 100px;	
	border-radius: 5px;
}

.cardButton{
	font-size: 1em;
	margin-top: 30px;	
	height: 40px;
	width: 150px;
	padding-bottom: 5px;
	border-radius: 8px;

}

/*#give-me-card2{
	margin-top: 200px;
	margin-left: 200px;
}
*/

.pName{
	font-size: 2em;
}


#footer{
	margin-top: 50px;
	color: #F0ECEA;
	font-size: 1.5em;
	background-color: 
}














